@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
.bg {
  background-image: url(./assests/ferrari.bg2.avif);
  background-position: right;
  background-size: cover;
}
h1{
  font-family: "Noto Serif", serif;
}
@media (max-width: 632px) {
  .bg {
    background-image: url(./assests/ferrari.bgImg.avif);
   background-position: right;
   background-size: cover;
  }
}
